@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Poppins&family=Sriracha&display=swap');

:root{
    --fonte-principal: "Bebas Neue", sans-serif;
    --fonte-texto: "Poppins", sans-serif;
}

header{
    display: flex;
    background-color: black;
    color: white;
    padding: 2vh;
    justify-content: space-between;
    
    
}

header h1.logo {
    display: inline-block; /* Permite ajustar a largura do h1 */
    border: 3px solid white;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 3vw;
    padding: 1vw; /* Adiciona espaço interno para a borda */
    line-height: 4vw; /* Define a altura da linha igual ao diâmetro da borda */
    width: 4vw; /* Define a largura do h1 igual ao diâmetro da borda */
    margin: 0; /* Remove margem padrão do h1 */
    text-decoration: underline;
    
  }

  header h1.logo:hover{
    color: blueviolet;
    border-color: blueviolet;
  }

  header h1.title{
    margin: auto;
    font-size: 5vw;
  }
header h1{
    display: flex;
    font-family: var(--fonte-principal);
}

